table { 
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; 
    font-size: 12px; 
    margin: 45px; 
    width: 550px;
    text-align: center; border-collapse: collapse; 
}

th { 
    font-size: 13px;
    font-weight: normal; 
    padding: 8px; 
    background: #6C757D; 
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff; color: #FFF; 
}

td { 
    padding: 8px; 
    background: #e8edff; 
    border-bottom: 1px solid #fff; 
    color: #669; 
    border-top: 1px solid transparent; 
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}

.editar {
    color: blue; 
    cursor:pointer;
}

#contenedor {
    margin-left: 45px; 
    font-size:12px;
}

.boton {   
    padding: 10px; 
    margin: 10px;
    background-color: #FFF;
    font-size: 18px;
    border-radius: 3px;
    margin-right: 0;

}

#aceptar{
    color: #007BFF; 
    border-color: #007BFF;
}
#cancelar{
    color: #999;
    border-color: #999;
}

#aceptar:hover{
    color: #FFF;
    background-color: #007BFF;
}
#cancelar:hover{
    color: #FFF; 
    background-color: #999;
}